h1{
	color: #068;
	font-family: verdana;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	text-transform: lowercase;
}
body .card-info-waste{
	width: 100%;
	display: none;
	
}

.name_room, .datenow{
	display: inline-block;
	margin-right: 25px;
}

.flex-cards-itens{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.buttonsvoc{
	display: inline-block;
	align-items: stretch;
	line-height: 70px;
	margin-bottom: 20px;
	position: relative;
	border:  1px solid #d7d7d7;
	border-radius: 4px;
}

body .card_buttoms { position: relative;}

.buttonsvoc > span{
	width: 70px;
	height: 100%;
	position: relative;
	line-height: 40px;
	float: left;
	display: inline-block;
	font-size: 14px;
	letter-spacing: -1px;
	font-weight: bold;
}

.vocation-select{display: none;}

.buttonsvoc > div{
	width: 175px;
	height: 100%;
	position: relative;
	line-height: 70px;
	float: right;
	display: inline-block;
	text-align: center;
}

.buttonsvoc h4{
	font-size: 16px;
	font-weight: normal;
	text-align: center;
}

.buttonsvoc {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.buttonsvoc > .copynick{
	position: absolute;
	width: 40px;
	height: 20px;
	line-height: 17px;
	font-size: 12px;
	right: 0;
	top: 0;
	display: block;
	color: #d7d7d7;
	font-weight: lighter;
	border-bottom: 1px solid #d7d7d7;
	border-left: 1px solid #d7d7d7;
	border-top-right-radius: 4px;
	cursor: pointer;
	z-index: 10;
}

.copynick:hover{
	background-color: #727272;
	color: #fff;
}

.hideVoc{
	display: none;
}

.showVoc {
	animation-duration: 3s;
  	animation-delay: 0;
  	animation-iteration-count: 1;
}

/* [class^="name_"]{
} */

.colortest { color: #000; }

/* nick name */

.infos_character {
	width: 100%;
	margin-top: 40px;
	display: none;
}

.rooms {
	width: 100%;
	display: none;
	margin-top: 40px;
}

.insert_user{
	width: 100%;
}




/* RESUMO DE CALCULO */

.receb_1,
.receb_2,
.receb_3 {
	cursor: pointer;
}

.receb_1:hover,
.receb_2:hover,
.receb_3:hover {
	color: #068;
}
.resume_of_calc > div.card-body > p > p:not(:last-child){
	font-size: .9rem;
	letter-spacing: -1px;
}
.resume_of_calc > div.card-body > p > p:not(:last-child){
	cursor: pointer;
	margin-bottom: 0;
}

.resume_of_calc > div.card-body > p > p:not(:last-child):hover{
	color: orange;
}